@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  margin: 0;
  width: 100%;
  font-family: var(--font-sans);
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 100px;
}

:root {
  --bg: #ffffff;
  --text: #1a1a1a;
  --accent: #8d775f;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Playfair Display", serif;
}

.date-location {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--accent);
}

.img-container {
  aspect-ratio: 4/5;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.section-label {
  letter-spacing: 1px;
}
