@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;500;700&family=Playfair+Display:ital@1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --text: #1a1a1a;
  --accent: #8d775f;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

/* Custom Utilities that might not be in standard Tailwind or for specific overrides */
.date-location {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--accent);
}

.img-container {
  aspect-ratio: 4/5;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.section-label {
  letter-spacing: 1px;
}
